.confirm-btn-group {
    -fx-spacing: 25;
    -fx-padding: 10 15 10 10;
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-alignment: CENTER_RIGHT;
}


.scroll-pane-item {
    -fx-fit-to-width: true;
    -fx-hbar-policy: NEVER;
    -fx-background-insets: 0
}