@import "settings.css";

.list-view-ui{
    -fx-background-color: white;
    -fx-border-width: 0;
}
/* listcell的样式 */
.list-view-ui .list-cell{
    -fx-background-color: white;
}
/* listcell选中的样式，与未选中一样 */
.list-view-ui .list-cell:selected {
    -fx-background-color: hover-color;
}
/* 选中时名字Label的样式，默认白色，需要单独设置 */
.list-view-ui .list-cell:selected #Labelname {
    -fx-text-fill: black;
}