.h-box{
    -fx-spacing: 10;
    -fx-alignment: CENTER_LEFT;
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-padding: 12;
    -fx-effect: default-effect;
    -fx-max-width: 500;
    -fx-min-width: 400;
}
#rootPane{
    -fx-background-color: rgb(242, 242, 242);
}
#mainVBox{
    -fx-alignment: CENTER;
    -fx-padding: 8 50 8 50;
    -fx-spacing: 8;
    /*-fx-padding: 10;*/
    /*-fx-font-size: 12;*/
    /*-fx-alignment: CENTER_LEFT;*/
}
.split-pane-line *.split-pane-divider {
    -fx-background-color: white;
    -fx-border-color: #d3d3d3;
    -fx-border-width: 0 0 0 1;
}
.split-pane-line {
    -fx-background: white
}
.control-btn{
    -fx-background-color: rgba(128, 128, 128, 0.5)
}