[submodule "Hearthstone-Script-Base-Strategy"]
	path = Hearthstone-Script-Base-Strategy
	url = https://github.com/xjw580/Hearthstone-Script-Base-Strategy.git
[submodule "Hearthstone-Script-Base-Card"]
	path = Hearthstone-Script-Base-Card
	url = https://github.com/xjw580/Hearthstone-Script-Base-Card.git
[submodule "Hearthstone-Script-Card-SDK"]
	path = Hearthstone-Script-Card-SDK
	url = https://github.com/xjw580/Hearthstone-Script-Card-SDK.git
[submodule "Hearthstone-Script-Plugin-SDK"]
	path = Hearthstone-Script-Plugin-SDK
	url = https://github.com/xjw580/Hearthstone-Script-Plugin-SDK.git
[submodule "Hearthstone-Script-Strategy-SDK"]
	path = Hearthstone-Script-Strategy-SDK
	url = https://github.com/xjw580/Hearthstone-Script-Strategy-SDK.git
