<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <property  name="logLevel" value="info"/>
    <property  name="logPath" value="log"/>
    <!--控制台日志格式-->
    <property name="log_pattern_console"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%boldYellow(%thread)] \(%file:%line\) %highlight(%-5level) %msg%n"/>
    <!--文件日志格式-->
    <property name="log_pattern_file"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%file:%line] %-5level %msg%n"/>
    <!--CONSOLE-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                ${log_pattern_console}
            </pattern>
        </layout>
    </appender>
    <!--ALL FILE-->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${logLevel}</level>
        </filter>
        <File>${logPath}/hs_script.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logPath}/hs_script-%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <!--指定日志保存天数-->
            <MaxHistory>3</MaxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!--指定每个日志文件大小-->
                <MaxFileSize>5MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <!--            <pattern>%-5p [%d %C:%L - %m %n</pattern>-->
            <pattern>${log_pattern_file}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="file_async" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="file"/>
    </appender>

    <appender name="other" class="club.xiaojiawei.hsscript.appender.ExtraLogAppender"/>
    <logger name="club.xiaojiawei" level="${logLevel}">
        <appender-ref ref="other"/>
    </logger>
    <logger name="org.springframework" level="info"/>
    <root level="${logLevel}">
        <appender-ref ref="console"/>
        <appender-ref ref="file_async"/>
    </root>
</configuration>