<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>炉石传说脚本控制台</title>
    <link rel="shortcut icon" th:href="@{ico/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{css/dashboard.css}"  type="text/css">
    <script th:src="@{js/jquery.js}"></script>
    <script th:src="@{js/md5.min.js}"></script>
    <script th:src="@{js/dashboard.js}"></script>
</head>
<body>
    <div id="outer">
        <div id="left">
            <div id="leftInner">
                <button id="start" onclick="start()">开始</button>
                <button id="pause" onclick="pause()">暂停</button>
                <div id="modeOuter">
                    <span>
                        模式：
                    </span>
                    <label for="mode"></label><select name="mode" id="mode" onchange="getAllDeckByMode()"></select>
                </div>
                <div id="deckOuter">
                    <span>
                        卡组：
                    </span>
                    <label for="deck"></label><select name="deck" id="deck" onchange="changeDeck()"></select>
                </div>

                <div id="warCountOuter">
                    <span>
                        游戏局数：
                    </span>
                    <span id="warCount"></span>
                </div>
                <div id="winningPercentageOuter">
                    <span>
                        胜率：
                    </span>
                    <span id="winningPercentage"></span>
                </div>

                <div id="dayOuter">
                    <div>
                        工作天：
                    </div>
                    <br>
                    <span id="day">
                        <span><input type="checkbox" name="day" class="day">每天</span>
                        <span><input type="checkbox" name="day" class="day">周一</span>
                        <span><input type="checkbox" name="day" class="day">周二</span>
                        <span><input type="checkbox" name="day" class="day">周三</span>
                        <span><input type="checkbox" name="day" class="day">周四</span>
                        <span><input type="checkbox" name="day" class="day">周五</span>
                        <span><input type="checkbox" name="day" class="day">周六</span>
                        <span><input type="checkbox" name="day" class="day">周日</span>
                    </span>
                </div>
                <div id="timeOuter">
                    <div title="[HTML时间选择器无法选择和显示24:00]">
                        工作段：<span style="font-size: 12px;color: rgb(128,128,128)"></span>
                    </div>
                    <br>
                    <span class="time" id="time">
                        <div class="time">
                            <input type="checkbox" name="time">
                            <input type="time" disabled> -
                            <input type="time" disabled>
                        </div>
                        <div class="time">
                            <input type="checkbox" name="time">
                            <input type="time"> -
                            <input type="time">
                        </div>
                        <div class="time">
                            <input type="checkbox" name="time">
                            <input type="time"> -
                            <input type="time">
                        </div>
                    </span>
                </div>
                <div id="background">
                </div>
            </div>
            <center>
                <button id="save" onclick="save()">保存</button>
                <span id="tip" style="color: #5CB85C;font-size: 12px"></span>
            </center>
            <center style="margin-top: 50px">
                <button id="screenCapture" onclick="screenCapture()">游戏截屏</button>
            </center>
        </div>
        <div id="right">
            <div id="log">
                <strong>脚本日志：</strong>
                <div id="content">
                </div>
            </div>
        </div>
    </div>
</body>
</html>