<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    .line{
      border-top: 1px solid black;
      margin-top: 18px;
    }
  </style>
</head>
<body>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div><div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>
  <div class="line">
  </div>

</body>
</html>